In [ ]:
#!pip install --upgrade sanpy
#!pip install yfinance
#!pip install cryptocmd
#!pip install sanpy

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Get historical Bitcoin data
from cryptocmd import CmcScraper
bitcoin=CmcScraper('BTC')
btc_df=bitcoin.get_dataframe().sort_values('Date').reset_index(drop=True)
btc_df['Date']=pd.to_datetime(btc_df['Date'],infer_datetime_format=True)
btc_df.set_index('Date',inplace=True)
btc_df=btc_df[['Close','Volume']]
btc_df.columns=['C_btc','V_btc']

In [4]:
btc_df.head()

                 C_btc  V_btc
Date
2013-04-28  134.210007    0.0
2013-04-29  144.539993    0.0
2013-04-30  139.000000    0.0
2013-05-01  116.989998    0.0
2013-05-02  105.209999    0.0

In [5]:
btc_df.tail()

                   C_btc         V_btc
Date
2022-04-22  39740.319854  2.801172e+10
2022-04-23  39486.728711  1.613802e+10
2022-04-24  39469.293556  1.796440e+10
2022-04-25  40458.308965  3.544573e+10
2022-04-26  38117.462508  3.456909e+10

In [6]:
#Get historical SP500,NASDAQ,Dow Jones, Gold Price
import yfinance as yf
sp500_df=yf.Ticker('^GSPC').history(start='2013-04-28')[['Close','Volume']]
sp500_df.columns=['C_sp500','V_sp500']
nasdaq_df=yf.Ticker('NDAQ').history(start='2013-04-28')[['Close','Volume']]
nasdaq_df.columns=['C_nasdaq_df','V_nasdaq_df']
dow_df=yf.Ticker('^DJI').history(start='2013-04-28')[['Close','Volume']]
dow_df.columns=['C_dow_df','V_dow_df']
gold_df=yf.Ticker('GC=F').history(start='2013-04-28')[['Close','Volume']]
gold_df.columns=['C_gold_df','V_gold_df']

In [7]:
#Get important bitcoin metrics
import san
metrics=["active_addresses_24h/bitcoin",'percent_of_total_supply_on_exchanges/bitcoin','social_dominance_total/bitcoin',
'sentiment_positive_total/bitcoin','sentiment_negative_total/bitcoin','sentiment_volume_consumed_total/bitcoin','active_deposits/bitcoin','active_withdrawals/bitcoin',
'circulation/bitcoin','daily_active_addresses/bitcoin','mean_age/bitcoin','mvrv_long_short_diff_usd/bitcoin','mvrv_usd/bitcoin','network_growth/bitcoin','realized_value_usd/bitcoin',
'velocity/bitcoin']

metrics_df=[]
cols=[]
for m in metrics:
    try:
        m_df = san.get(m,
        from_date='2013-04-28',
        interval="1d"
        )
        cols.append(m)
        metrics_df.append(m_df)
    except:
        pass
    
null_index=[]
for i,x in enumerate(metrics_df):
    if x.empty:
        null_index.append(i)

cont=0        
for z in null_index:
    
    if cont==0:
        del cols[z]    
        cont+=1
    else:
        del cols[z-cont]
        cont+=1
        
metrics_df=pd.concat(metrics_df,axis=1)
metrics_df.columns=cols

C:\Users\guilh\AppData\Local\Programs\Python\Python310\lib\site-packages\san\__init__.py:31: UserWarning: The package sanpy is out of date. Your version is 0.8.9, the latest is 0.9.1.
  warn(warning)

In [8]:
metrics_df.isnull().sum()

active_addresses_24h/bitcoin                       0
percent_of_total_supply_on_exchanges/bitcoin    2586
social_dominance_total/bitcoin                  2586
sentiment_positive_total/bitcoin                2586
sentiment_negative_total/bitcoin                2586
sentiment_volume_consumed_total/bitcoin         2586
circulation/bitcoin                                1
daily_active_addresses/bitcoin                     1
mean_age/bitcoin                                2586
mvrv_long_short_diff_usd/bitcoin                2586
mvrv_usd/bitcoin                                2951
realized_value_usd/bitcoin                      2951
velocity/bitcoin                                2586
dtype: int64

In [9]:
#Drop columns with 2951 nan
metrics_df.drop(columns=['mvrv_usd/bitcoin','realized_value_usd/bitcoin'],inplace=True)

In [10]:
#Change the index of metrics_df to the same of btc_df
metrics_df.index=metrics_df.index.tz_localize(None)

In [11]:
#Merge all dataframes
btc_total=(btc_df.merge(sp500_df,how='left',left_index=True,right_index=True)
.merge(nasdaq_df,how='left',left_index=True,right_index=True)
.merge(dow_df,how='left',left_index=True,right_index=True)
.merge(gold_df,how='left',left_index=True,right_index=True)
.merge(metrics_df,how='left',left_index=True,right_index=True))

In [12]:
btc_total.head()

,C_btc,V_btc,C_sp500,V_sp500,C_nasdaq_df,V_nasdaq_df,C_dow_df,V_dow_df,C_gold_df,V_gold_df,...,percent_of_total_supply_on_exchanges/bitcoin,social_dominance_total/bitcoin,sentiment_positive_total/bitcoin,sentiment_negative_total/bitcoin,sentiment_volume_consumed_total/bitcoin,circulation/bitcoin,daily_active_addresses/bitcoin,mean_age/bitcoin,mvrv_long_short_diff_usd/bitcoin,velocity/bitcoin
Date,,,,,,,,,,,,,,,,,,,,,
2013-04-28,134.210007,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.109124e+07,118017.0,NaN,NaN,NaN
2013-04-29,144.539993,0.0,1593.609985,2.891200e+09,25.021959,1303500.0,14818.750000,97060000.0,1467.400024,269.0,...,NaN,NaN,NaN,NaN,NaN,1.109559e+07,86925.0,NaN,NaN,NaN
2013-04-30,139.000000,0.0,1597.569946,3.745070e+09,25.348707,1748200.0,14839.799805,148250000.0,1472.199951,534.0,...,NaN,NaN,NaN,NaN,NaN,1.109932e+07,76871.0,NaN,NaN,NaN
2013-05-01,116.989998,0.0,1582.699951,3.530320e+09,25.150934,919400.0,14700.950195,112620000.0,1446.300049,131.0,...,NaN,NaN,NaN,NaN,NaN,1.110309e+07,83565.0,NaN,NaN,NaN
2013-05-02,105.209999,0.0,1597.589966,3.366950e+09,25.770037,1436500.0,14831.580078,91180000.0,1467.699951,244.0,...,NaN,NaN,NaN,NaN,NaN,1.110644e+07,81920.0,NaN,NaN,NaN

In [13]:
btc_total.tail()

,C_btc,V_btc,C_sp500,V_sp500,C_nasdaq_df,V_nasdaq_df,C_dow_df,V_dow_df,C_gold_df,V_gold_df,...,percent_of_total_supply_on_exchanges/bitcoin,social_dominance_total/bitcoin,sentiment_positive_total/bitcoin,sentiment_negative_total/bitcoin,sentiment_volume_consumed_total/bitcoin,circulation/bitcoin,daily_active_addresses/bitcoin,mean_age/bitcoin,mvrv_long_short_diff_usd/bitcoin,velocity/bitcoin
Date,,,,,,,,,,,,,,,,,,,,,
2022-04-22,39740.319854,2.801172e+10,4271.779785,3.930660e+09,166.850006,830400.0,33811.398438,373280000.0,1931.000000,178.0,...,NaN,NaN,NaN,NaN,NaN,1.914098e+07,946969.0,NaN,NaN,NaN
2022-04-23,39486.728711,1.613802e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.914200e+07,857710.0,NaN,NaN,NaN
2022-04-24,39469.293556,1.796440e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.914307e+07,808655.0,NaN,NaN,NaN
2022-04-25,40458.308965,3.544573e+10,4296.120117,4.061070e+09,166.639999,1177800.0,34049.460938,416900000.0,1893.199951,748.0,...,NaN,NaN,NaN,NaN,NaN,1.914410e+07,1002972.0,NaN,NaN,NaN
2022-04-26,38117.462508,3.456909e+10,4175.200195,3.760420e+09,161.669998,899900.0,33240.179688,400020000.0,1901.400024,748.0,...,NaN,NaN,NaN,NaN,NaN,1.914498e+07,962904.0,NaN,NaN,NaN

In [14]:
btc_total.isnull().sum()

C_btc                                              0
V_btc                                              0
C_sp500                                         1020
V_sp500                                         1020
C_nasdaq_df                                     1020
V_nasdaq_df                                     1020
C_dow_df                                        1020
V_dow_df                                        1020
C_gold_df                                       1022
V_gold_df                                       1022
active_addresses_24h/bitcoin                       0
percent_of_total_supply_on_exchanges/bitcoin    2585
social_dominance_total/bitcoin                  2585
sentiment_positive_total/bitcoin                2585
sentiment_negative_total/bitcoin                2585
sentiment_volume_consumed_total/bitcoin         2585
circulation/bitcoin                                0
daily_active_addresses/bitcoin                     0
mean_age/bitcoin                                2585
mvrv_long_short_diff_usd/bitcoin                2585
velocity/bitcoin                                2585
dtype: int64

In [19]:
#Create lags
btc_total['Lag_1']=btc_total['C_btc'].shift(1)
btc_total['Lag_2']=btc_total['C_btc'].shift(2)
btc_total['Lag_3']=btc_total['C_btc'].shift(3)
btc_total['Lag_-1']=btc_total['C_btc'].shift(-1)

#Create time columns
btc_total['Day_week']=np.array(btc_total.reset_index()['Date'].dt.dayofweek)
btc_total['Day_year']=np.array(btc_total.reset_index()['Date'].dt.dayofyear)
btc_total['Day_month']=np.array(btc_total.reset_index()['Date'].dt.day)
btc_total['year']=np.array(btc_total.reset_index()['Date'].dt.year)
btc_total['Month']=np.array(btc_total.reset_index()['Date'].dt.month)

#Create rolling mean
btc_total['rolling_mean_200']=btc_total['C_btc'].rolling(200).mean()
btc_total['rolling_mean_50']=btc_total['C_btc'].rolling(50).mean()

#Create exponential moving average
btc_total['ewm_13'] = btc_total['C_btc'].ewm(span=13,min_periods=0,adjust=False,ignore_na=False).mean()
btc_total['ewm_26'] = btc_total['C_btc'].ewm(span=20,min_periods=0,adjust=False,ignore_na=False).mean()

#Create mayer multiple
btc_total['price/ma200']=btc_total['C_btc']/btc_total['rolling_mean_200']
btc_total['macd']=btc_total['ewm_13']-btc_total['ewm_26']

In [20]:
btc_total.isnull().sum()

C_btc                                              0
V_btc                                              0
C_sp500                                         1020
V_sp500                                         1020
C_nasdaq_df                                     1020
V_nasdaq_df                                     1020
C_dow_df                                        1020
V_dow_df                                        1020
C_gold_df                                       1022
V_gold_df                                       1022
active_addresses_24h/bitcoin                       0
percent_of_total_supply_on_exchanges/bitcoin    2585
social_dominance_total/bitcoin                  2585
sentiment_positive_total/bitcoin                2585
sentiment_negative_total/bitcoin                2585
sentiment_volume_consumed_total/bitcoin         2585
circulation/bitcoin                                0
daily_active_addresses/bitcoin                     0
mean_age/bitcoin                                2585
mvrv_long_short_diff_usd/bitcoin                2585
velocity/bitcoin                                2585
Lag_1                                              1
Lag_2                                              2
Lag_3                                              3
Lag_-1                                             1
Day_week                                           0
Day_year                                           0
Day_month                                          0
year                                               0
Month                                              0
rolling_mean_200                                 199
rolling_mean_50                                   49
ewm_13                                             0
ewm_26                                             0
price/ma200                                      199
macd                                               0
dtype: int64

In [23]:
btc_total.head()

,C_btc,V_btc,C_sp500,V_sp500,C_nasdaq_df,V_nasdaq_df,C_dow_df,V_dow_df,C_gold_df,V_gold_df,...,Day_year,Day_month,year,Month,rolling_mean_200,rolling_mean_50,ewm_13,ewm_26,price/ma200,macd
Date,,,,,,,,,,,,,,,,,,,,,
2013-04-28,134.210007,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,118,28,2013,4,NaN,NaN,134.210007,134.210007,NaN,0.000000
2013-04-29,144.539993,0.0,1593.609985,2.891200e+09,25.021959,1303500.0,14818.750000,97060000.0,1467.400024,269.0,...,119,29,2013,4,NaN,NaN,135.685719,135.193815,NaN,0.491904
2013-04-30,139.000000,0.0,1597.569946,3.745070e+09,25.348707,1748200.0,14839.799805,148250000.0,1472.199951,534.0,...,120,30,2013,4,NaN,NaN,136.159188,135.556309,NaN,0.602879
2013-05-01,116.989998,0.0,1582.699951,3.530320e+09,25.150934,919400.0,14700.950195,112620000.0,1446.300049,131.0,...,121,1,2013,5,NaN,NaN,133.420732,133.788089,NaN,-0.367357
2013-05-02,105.209999,0.0,1597.589966,3.366950e+09,25.770037,1436500.0,14831.580078,91180000.0,1467.699951,244.0,...,122,2,2013,5,NaN,NaN,129.390627,131.066366,NaN,-1.675738

In [24]:
btc_total.tail()

,C_btc,V_btc,C_sp500,V_sp500,C_nasdaq_df,V_nasdaq_df,C_dow_df,V_dow_df,C_gold_df,V_gold_df,...,Day_year,Day_month,year,Month,rolling_mean_200,rolling_mean_50,ewm_13,ewm_26,price/ma200,macd
Date,,,,,,,,,,,,,,,,,,,,,
2022-04-22,39740.319854,2.801172e+10,4271.779785,3.930660e+09,166.850006,830400.0,33811.398438,373280000.0,1931.000000,178.0,...,112,22,2022,4,47974.999298,42008.219329,41059.924534,41527.379748,0.828355,-467.455214
2022-04-23,39486.728711,1.613802e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113,23,2022,4,47914.858871,42015.201831,40835.182274,41333.032031,0.824102,-497.849757
2022-04-24,39469.293556,1.796440e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114,24,2022,4,47835.398091,42016.576019,40640.055314,41155.533128,0.825106,-515.477814
2022-04-25,40458.308965,3.544573e+10,4296.120117,4.061070e+09,166.639999,1177800.0,34049.460938,416900000.0,1893.199951,748.0,...,115,25,2022,4,47768.659710,42057.342531,40614.091550,41089.130827,0.846963,-475.039277
2022-04-26,38117.462508,3.456909e+10,4175.200195,3.760420e+09,161.669998,899900.0,33240.179688,400020000.0,1901.400024,748.0,...,116,26,2022,4,47689.407789,42058.450977,40257.430258,40806.114797,0.799286,-548.684538